<form class="mt-4" [formGroup]="postForm" (ngSubmit)="addPost()">
  <div class="mb-3">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      formControlName="title"
      id="title"
      placeholder="Your post's title"
      [ngClass]="{
        'is-invalid': postForm.controls.title.touched && !postForm.controls.title.valid
      }"
    />
    @if(postForm.controls.title.errors?.['minlength']) {
      <div class="invalid-feedback">Title must have at least 5 characters</div>
    }
    @if(postForm.controls.title.errors?.['pattern']) {
      <div class="invalid-feedback">Title must contain only letters and spaces</div>
    }
  </div>
  <div class="mb-3">
    <label for="description">Description</label>
    <textarea
      class="form-control"
      id="description"
      formControlName="description"
      rows="3"
      placeholder="Write something..."
      [ngClass]="{
        'is-invalid': postForm.controls.description.touched && !postForm.controls.description.valid
      }"
    ></textarea>
    @if(postForm.controls.description.errors?.['minlength']) {
      <div class="invalid-feedback">Description must have at least 8 characters</div>
    }
  </div>
  <div class="mb-3">
    <label for="image">Photo</label>
    <input
      type="file"
      class="form-control"
      id="image"
      formControlName="image"
      (change)="changeImage($event)"
    />
  </div>
  @if (imageBase64) {
    <img [src]="imageBase64" alt="" id="imgPreview" class="img-thumbnail" />
  }
  <div class="mb-3">
    <label for="mood">Mood</label>
    <select class="form-select" formControlName="mood" id="mood">
      <option value="0">Neutral</option>
      <option value="1">Happy</option>
      <option value="2">Angry</option>
    </select>
  </div>

  <div class="row">
    <div class="col-auto">
      <button
        type="submit"
        class="btn btn-primary btn-lg"
        [disabled]="postForm.invalid"
      >
        Create
      </button>
    </div>
    @if(postForm.touched && postForm.errors?.['postRequired']) {
      <div class="col my-auto text-danger">
        The post must have at least a title, a description, or an image
      </div>
    }
  </div>
</form>
