<form action="#" class="mt-4" role="form" (ngSubmit)="login()">
  <legend>Welcome to FoodScore!</legend>

  <div class="mb-3">
    <label for="email">Email:</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required />
  </div>
  <div class="mb-3">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required />
  </div>
  <p class="text-danger"></p>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
