.card-text {
  white-space: pre-wrap;
}

.card-footer .avatar img {
  width: 50px;
  cursor: pointer;
}

.card-footer .name, #comments strong {
  color: #385898;
  font-weight: bold;
  cursor: pointer;
}

.card-footer .name:hover, #comments strong:hover {
  text-decoration: underline;
}

.card-footer .fa-thumbs-up, .card-footer .fa-thumbs-down {
  cursor: pointer;
  font-size: 1.5em;
}
